

<div class = "login">
  
<h1>Sign Up</h1>

    

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail / Username" %>
      </div>

      <br>

      <div class="field">

        
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />

        <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password" %>

      </div>

      <div class="field">
       
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Re-enter your password" %>
      </div>

      <br>
      <div class="actions Sign-up">
        <%= f.submit "Sign up" %>
      </div>

      <% end %>


    </div>








<%= render "devise/shared/links" %>
