

<% @news["Data"] %>
<% @prices["DISPLAY"] %>


	<div class = "Crypto-currencies">
		
		<%  @prices["DISPLAY"].each do |key,value| %>

			<div class = "Crypto">
			<div id = "Crypto-price"> <%= key %> <%= value["USD"]["PRICE"]%><br> </div>

			Change today: <%= value["USD"]["CHANGEPCTDAY"] %> % <br>
			24h High: <%= value["USD"]["HIGHDAY"] %> <br>
			24h Low: <%= value["USD"]["LOWDAY"] %> <br>
			MarketCap: <%= value["USD"]["MKTCAP"] %> <br>
			<br>
			</div>

		<% end %>

	</div>
	
	<div class = "Crypto-container">

	<% for x in @news["Data"] %>

		<div class="crypto-images">

			<img src = " <%=  x["imageurl"] %>"> 
			<strong class="caption"> <%= x["title"] %> </strong>
			<a class = "read-more", href = "<%= x["url"] %>">  Read Full Article from <strong> <%= x["source"] %></strong> </a>
					
		</div>

	<% end %>

	</div>

