


<!-- HEADER IS HERE (form partial _header.html.erb) -->


<nav>


  <div class="container-fluid">


      <!----------------------------  THIS IS THE NAVBAR LIST  ------------------------------------------------------>	


  

        <ul class = "Navbar-ul">


          <li class = "Navbar-li" >
            <%= link_to image_tag("mainlogo.png"),  root_path, class: "Navbar-logo" %> 
          </li>

          <li class = "Navbar-li" >
            <%= link_to image_tag("cryptologo.png") , crypto_index_url, class: "Navbar-logo"  %> 
          </li>

          <li class = "Navbar-li" >
            <%= link_to image_tag("Bookslogo.png") , books_path, class: "Navbar-logo"  %> 
          </li>

         
          



      

      
        


        <!----------------------------  THIS IS DEVISE STUFF ------------------------------------------------------>  

          <% if user_signed_in? %>

          

            <li class = "Navbar-li-devise" >
              <%= link_to image_tag("logout.png") ,destroy_user_session_path, method: :delete, class: "Navbar-devise-logo"  %> 
            </li>

            <li class = "Navbar-li-devise" >
              <%= link_to image_tag("editprofile.png"), edit_user_registration_path, class: "Navbar-devise-logo"  %> 
            </li>

      
          <% else %>

            <li class = "Navbar-li-devise" >
              <%= link_to image_tag("signup.png"), new_user_registration_path, class: "Navbar-devise-logo"  %> 
            </li>

            <li class = "Navbar-li-devise" >
              <%= link_to image_tag("signin.jpg"), new_user_session_path, class: "Navbar-devise-logo"  %> 
            </li>

        <% end %>

        

      </ul>

      

      
  
      <!----------------------------  THIS IS THE NAVBAR SEARCH-BAR ------------------------------------------------------>

      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->


    <hr size="1">

    </div>

    

</nav>




  





<!----------------------- THIS IS DROP DOWN NAVLINK BOOTSTRAP ------------------------------------>

<!--  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->



<!----------------------- THIS IS DISABLED NAVLINK BOOTSRAP ------------------------------------>
<!-- <li class="nav-item">
          <a class="nav-link disabled" id="disabled-navlink" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->




    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
-->
