


<!------------- THIS PAGE CONTROLS MOST/ALL OTHER html.erb PAGES IN THE books view FOLDER -->

<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


      <!--------------------------- Main fields----------------------------->

      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title%>
      </div>

      <div class="field">
        <%= form.label :author %>
        <%= form.text_field :author %>
      </div>

      <div class="field">
        <%= form.label :rating %>
        <%= form.text_field :rating %>
      </div>

      <div class="field">
        <%= form.label :review %>
        <%= form.text_area :review %>
      </div>


      <!--------------------------- Choose Image field---------------------------->


      <div class = "field form-group">
        <%= form.label :image, placeholder: "Title" %>
        <%= form.file_field :image, required: true %><br>
        <%= form.label :pdf, placeholder: "PDF" %>
        <%= form.file_field :pdf, required: true %>
      </div>

     


  
      <!----------------- This is hidden and manually added as 'index' ---------------->
      

      <div class="field">  
        <%= form.number_field:user_id, id: :friend_user_id, value: current_user.id, type: :hidden %>
      </div>




      <div class="actions">
        <%= form.submit %>
      </div>

<% end %>
